header {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00700d;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  color: white;
}