nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFF;
  font-family: 'Bungee', cursive;
  padding: 1.5em;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  }
