.new-tweet {
  border-bottom: solid black;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font: bold;
}

button {
  background-color: blue;
  font-family: 'Bungee', cursive;
  color: white;
}

.bottomcontainer {
  display: flex;
  justify-content: space-between;
}

.new-tweet form {
  width: 100%;
}

.new-tweet textarea {
  width: 100%;
  border: none;
  margin-bottom: 20px;
}