.new-tweet {
  /* border-bottom: solid black; */
  display: none;
  justify-content: center;
  padding: 20px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font: bold;
}
.new-tweet.visible {
  display: flex;
}

.butNewTweet {
  background-color: blue;
  font-family: 'Bungee', cursive;
  color: white;
}

.user {
  display: flex;
  padding-right: 20px;
}

.bottomcontainer {
  display: flex;
  justify-content: space-between;
  border-top: solid black 3px;
  padding-top: 20px;
  font-family: 'Bungee', cursive;
  color: black;
}

.new-tweet form {
  width: 100%;
}

.tweeterText {
  display: flex;
  width: 100%;
  border: none;
  margin-bottom: 20px;
  padding-left: 40px;
}

.newTweetFooter {
  padding-top: 10px;
  border-top: solid black 2px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.tweet{
  border: black solid 2.5px;
  margin-bottom: 20px;
}

#tweetForm{
  width: 100%;
}

#taTweet {
  width: 100%;
}

.icons {
  visibility: hidden;
}

.tweet:hover + .icons:hover {
  color: blue;
  display: block;
}